.page-order_title {
    background-color: #515570;
    padding: 50px 0;
    margin-top: 120px;
    text-align: center;
}

.page-order_pc a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(187, 184, 184);
}
.page-order_pc a.active {
    color: white;
}
.page-order_pc .sp.active {
    color: white;
}
.page-order_pc span:last-child {
    padding: 0 20px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(187, 184, 184);
}
@media only screen and (max-width: 576px) {
    .page-order_pc {
        margin-top: 25px;
    }
    .page-order_pc a {
        display: none;
    }
    .page-order_pc .sp {
        display: none;
    }
    .page-order_pc .sp.active {
        display: block;
    }
    .page-order_pc a.active {
        display: block;
        color: white;
    }
    .icon-mobile {
        display: none;
    }
    .page-order_title {
        padding: 20px 0;
    }
}
@media only screen and (max-width: 576px) {
    .page-order_title {
        margin-top: 130px;
    }
}
@media only screen and (max-width: 768px) {
    .page-order_pc {
        text-align: center;
    }
    .page-order_pc a {
        display: none;
        width: 100%;
    }
    .page-order_pc .sp {
        display: none;
    }
    .page-order_pc .sp.active {
        display: block;
    }
    .page-order_pc a.active {
        display: block;
        color: white;
    }
    .icon-mobile {
        display: none;
    }
    .page-order_pc a {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width: 992px) {
    .page-order_pc {
        margin-top: 20px;
    }
}
