.page-title {
    padding: 30px 0;
    margin-top: 120px;
    text-align: center;
    background-color: #515570;
    color: white;
}
.page-title h2 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.5rem;
}
.page-title a {
    text-decoration: none;
    font-style: italic;
    color: inherit;
    transition: 0.3s all ease;
    letter-spacing: 1px;
}
.page-title a:hover {
    opacity: 0.6;
    transition: 0.3s all ease;
}
.page-title span {
    letter-spacing: 1px;
    font-style: italic;
}
@media only screen and (max-width: 1024px) {
    .page-title {
        margin-top: 140px;
    }
}
