.checkout_wrap {
    padding: 30px 40px;
}
.billing_wrap {
    padding: 30px 0;
}
.billing_wrap h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.billing-form_group {
    margin: 20px 0;
}
.billing-form_group label {
    display: block;
    font-size: 1.2rem;
    color: #464646;
}
.billing-form_group input {
    border: 2px solid #e5e5e5;
    height: 50px;
    outline: none;
    width: 100%;
    padding: 10px;
    color: #464646;
    font-weight: bold;
}
.billing-form_group input:focus {
    border: 2px solid #d6d6d6;
}
.billing-form_group select {
    width: 100%;
    border: 2px solid #e5e5e5;
    background-color: white;
    height: 50px;
    color: #464646;
    font-weight: bold;
    font-size: 1.1rem;
}
.billing-form_group textarea {
    width: 100%;
    border: 2px solid #e5e5e5;
    height: 150px;
    outline: none;
    padding: 10px;
    color: #464646;
    font-weight: bold;
}
.checkout-coupon {
    width: 80%;
    border: 2px solid #a19c9c;
    padding: 20px;
}
.checkout-coupon p {
    font-size: 1.5rem;
    font-weight: bold;
}
.checkout-coupon input {
    width: 300px;
    height: 50px;
    border: 2px solid #d6d6d6;
    outline: none;
    padding: 10px;
    color: #464646;
    font-weight: bold;
    margin-right: 20px;
}
.checkout-coupon button {
    width: 150px;
    height: 50px;
    margin-left: 30px;
    border: none;
    background: #2f2b35;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.checkout-coupon button:hover {
    opacity: 0.8;
}
.checkout-order-review {
    position: relative;
    padding: 30px;
    background: #edf3f4;
}
.show-coupon {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 0;
}
.cancel-coupon {
    margin-left: 50px;
}
.checkout-order-review h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}
.order-review_wrap {
    background: white;
    padding: 20px;
}
.order-review_box {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    border-bottom: 2px solid #edf3f4;
}
.order-review_box p {
    font-size: 1.2rem;
}
.order-review_box p:first-child {
    font-weight: bold;
}
.order-review_box-sub {
    display: flex;
    justify-content: space-between;
}
.order-review_box-sub p {
    font-size: 1.5rem;
    font-weight: bold;
}
.order-review_list {
    padding: 0;
}
.order-review_item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #777777;
    list-style: none;
    border-bottom: 2px solid #edf3f4;
    padding: 10px 0;
}
.bd-b {
    border-bottom: 2px solid #edf3f4;
}
.order-review_item p {
    margin: 0;
}
.order-review_item p:first-child {
    width: 70%;
}
.order-payment {
    margin-top: 20px;
}
.order-paymen_box {
    margin: 10px 0;
}
.order-paymen_box input {
    width: 50px;
}
.order-paymen_box span {
    color: #464646;
    font-weight: bold;
}
.checkout-submit {
    margin-top: 20px;
    border-top: 2px solid #d6dbdb;
}
.checkout-submit button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #2f2b35;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    border: none;
}
.checkout-submit button:hover {
    opacity: 0.8;
}
@media only screen and (max-width: 576px) {
    .checkout_wrap {
        padding: 0;
    }
    .billing_wrap h3 {
        font-size: 1.5rem;
    }
    .billing-form_group label {
        font-size: 1rem;
    }
    .billing-form_group input {
        height: 40px;
        font-size: 1rem;
    }
    .checkout-coupon {
        width: 100%;
    }
    .checkout-coupon button {
        margin: 20px 0 0 0;
        height: 40px;
        width: 100%;
    }
    .checkout-order-review {
        padding: 10px;
    }
    .checkout-order-review h3 {
        font-size: 1.5rem;
        padding: 10px;
    }
}
@media only screen and (max-width: 1064px) {
    .checkout-coupon {
        width: 100%;
    }
    .checkout-coupon button {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
    .checkout-coupon input {
        width: 100%;
    }
}
@media only screen and (max-width: 1300px) {
    .checkout-coupon {
        width: 100%;
    }
}
